<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @list.year %>
</p>

<p>
  <strong>Book:</strong>
  <%= @list.book %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
