<div class="panel panel-default">
  <div class="panel-heading">
    <div class="head">
      <h3 class="btn dropdown-toggle pull-right" type="button" id="menu1" data-toggle="dropdown">
        Filtrar
      </h3>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width: 20%;">
        <%= content_tag :li, role: "presentation", class: active_class("title", params[:sort]) do %>
          <%= link_to "Título", {sort: :title, status: params[:status], shelf: params[:shelf]}, role:"menuitem", tabindex:"-1" %>
        <% end %>
        <%= content_tag :li, role: "presentation", class: active_class("published", params[:sort]) do %>
          <%= link_to "Publicação", {sort: :published, status: params[:status], shelf: params[:shelf]} , role:"menuitem", tabindex:"-1" %>
        <% end %>
        <%= content_tag :li, role: "presentation", class: active_class("created_at", params[:sort]) do %>
          <%= link_to "Uploaded", {sort: :created_at, status: params[:status], shelf: params[:shelf]} , role:"menuitem", tabindex:"-1" %>
        <% end %>
      </ul>
      <h1 class="page-header"><%= @books.model_name.human(count: 2) %>
        <small><%= "#{@title} (#{@count})" %></small>
      </h1>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'grid' %>
  </div>
  <hr>
  <div class="panel-footer">
    <div class="row justify-content-center">
      <%= paginate @books %>
    </div>
  </div>
</div>
