  <div class="head">
    <h3 class="btn dropdown-toggle pull-right" type="button" id="menu1" data-toggle="dropdown">
      Filtrar
    </h3>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width: 20%;">
      <%= content_tag :li, role: "presentation", class: active_class("title", @sort) do %>
        <%= link_to "Título", {sort: :title}, role:"menuitem", tabindex:"-1" %>
      <% end %>
      <%= content_tag :li, role: "presentation", class: active_class("published", @sort) do %>
        <%= link_to "Publicação", {sort: :published} , role:"menuitem", tabindex:"-1" %>
      <% end %>
      <%= content_tag :li, role: "presentation", class: active_class("created_at", @sort) do %>
        <%= link_to "Uploaded", {sort: :created_at} , role:"menuitem", tabindex:"-1" %>
      <% end %>
      <li class="divider"></li>
      <li>
        <%= link_to "Grade", {view: :grid}, role:"menuitem", tabindex:"-1" %>
      </li>
      <li>
        <%= link_to "Lista", {view: :list}, role:"menuitem", tabindex:"-1" %>
      </li>
    </ul>
    <h1 class="page-header"><%= @books.model_name.human(count: 2) %>
      <small><%= "#{@title}(#{@count})" %></small>
    </h1>
  </div>
</div>
<div class="panel-body">
  <%= render @partial %>
</div>
<hr>

<!-- Pagination -->
<div class="row justify-content-center">
  <%= paginate @books %>
</div>
