<div class="navbar-default sidebar" role="navigation" id="sidebar">
    <ul class="nav" id="side-menu">
      <li>
        <a href="#"><i class="fa fa-book fa-fw"></i> Estantes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to books_path do %>
              <i class="fa fa-bookmark fa-fw" style="color: #8e44ad;"></i>
              <%= t('labels.all') %>
            <% end %>
          </li>
          <li>
            <%= link_to read_path do %>
              <i class="fa fa-bookmark fa-fw" style="color: #2ecc71;"></i>
              <%= t('labels.read') %>
            <% end %>
          </li>
          <li>
            <%= link_to reading_path do %>
              <i class="fa fa-bookmark fa-fw" style="color: #3498db;"></i>
              <%= t('labels.reading') %>
            <% end %>
          </li>
          <li>
            <%= link_to to_read_path do %>
              <i class="fa fa-bookmark fa-fw" style="color: #e74c3c;"></i>
              <%= t('labels.to_read') %>
            <% end %>
          </li>
          <hr class="divider">
          <li>
            <%= link_to own_path do %>
              <i class="fa fa-book fa-fw"></i><%= t('labels.own') %>
            <% end %>
          </li>
          <li>
            <%= link_to want_path do %>
              <i class="fa fa-gift fa-fw"></i><%= t('labels.want') %>
            <% end %>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li>
        <%= link_to authors_path do %>
        <i class="fa fa-users fa-fw"></i> <%= Author.model_name.human(count: 2) %>
        <% end %>
      </li>
      <li>
        <%= link_to editors_path do %>
        <i class="fa fa-edit fa-fw"></i><%= Editor.model_name.human(count: 2) %>
        <% end %>
      </li>
      <li>
        <a href="#"><i class="fa fa-list fa-fw"></i> <%= List.model_name.human(count: 2) %><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to new_list_path do %>
              <i class="fa fa-plus fa-xs"></i><%= t('labels.new_list') %>
            <% end %>
          </li>
          <% lista.each do |l| %>
          <li>
            <%= link_to list_path(l) do %>
              <i class="fa fa-angle-double-right fa-xs"></i><%= " #{l.year}" %>
            <% end %>
          </li>
          <% end %>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li>
        <%= link_to statistics_path do %>
        <i class="fa fa-bar-chart fa-fw"></i><%= t('labels.statistics') %>
        <% end %>
      </li>
      <li>
        <%= link_to new_book_path do %>
        <i class="fa fa-plus fa-fw"></i><%= t('labels.new_book') %>
        <% end %>
      </li>
    </ul>
  <!-- /.sidebar-collapse -->
</div>