  <div class="panel-heading">
    <h3>
      <%= @authors.model_name.human(count: @count) %>
      <small><%= "(#{@count})" %></small>
    </h3>
    <%= link_to new_user_author_path,
    class:"btn btn-green pull-right" do %>
      <i class="fa fa-plus fa-2x"></i>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th><%= sortable "name", @authors.model.human_attribute_name('firstname') %></th>
              <th><%= @authors.model.human_attribute_name('lastname') %></th>
              <th><%= @authors.model.human_attribute_name('qtt') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @authors.each do |author| %>
            <tr>
              <td><%= first_name(author.name) %></td>
              <td><%= last_name(author.name) %></td>
              <td>
                <%= Books::CountQuery.call(current_user, author: author.id) %>
              </td>
              <td style="width: 150px">
                <%= link_to user_author_path(author), class: "btn btn-form btn-blue" do %>
                  <i class="fa fa-list fa-lg"></i>
                <% end %>
                <%= link_to edit_user_author_path(author), class: "btn btn-form btn-yellow" do %>
                  <i class="fa fa-edit fa-lg"></i>
                <% end %>
                <%= link_to user_author_path(author), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-form btn-red" do %>
                  <i class="fa fa-trash fa-lg"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
  <div class="row justify-content-center">
    <%= paginate @authors %>
  </div>
