<div class="col-md-6">
  <div class="panel panel-default" id="list_div">
    <div class="panel-heading">
      <i class="fa fa-list fa-fw"></i>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <ul  class="nav nav-pills">
        <li>
          <a id="bookTab" href="#books" data-toggle="tab"><%= Book.model_name.human(count: 2) %></a>
        </li>
        <li>
          <a id="pagesTab" href="#pages" data-toggle="tab"><%= t('labels.pages') %></a>
        </li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="books">
          <div class="list_div_body">
            <% @list.each do |list| %>
            <div class="list-group-item nav">
              <i class="fa fa-angle-double-right fa-xs"></i><%= " #{list.year}" %>
              <span class="pull-right text-muted small">
                <em><%= t('labels.qtt_books', qtt: list.books.count) %></em>
              </span>
            </div>
            <% end %>
          </div>

        </div>
        <div class="tab-pane" id="pages">
          <div class="list_div_body">
            <% @list.each do |list| %>
            <div class="list-group-item nav">
              <i class="fa fa-angle-double-right fa-xs"></i><%= " #{list.year}" %>
              <span class="pull-right text-muted small">
                <em><%= t('labels.qtt_pg', qtt: list.books.sum(:pages)) %></em>
              </span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>