<div class="row">
  <h1 class="page-header">Estatísticas</h1>
</div>
<div class="row">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @old %></div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-toggle="collapse" data-target="#older">
            <span class="pull-left">Mais antigo</span>
            <span class="pull-right" id="iconO">
              <i class="fa fa-arrow-circle-down"></i>
            </span>
            <div class="clearfix"></div>
          </a>
          <div id="older" class="collapse"><small><%= @old_title[0] %></small></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-book fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @new %></div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a  data-toggle="collapse" data-target="#newer">
            <span class="pull-left">Mais novo</span>
            <span class="pull-right" id="iconN">
              <i class="fa fa-arrow-circle-down"></i>
            </span>
            <div class="clearfix"></div>
          </a>
          <div id="newer" class="collapse"><small><%= @new_title[0] %></small></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-angle-up fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= Book.maximum("pages") %></div>
              <div>Páginas</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a  data-toggle="collapse" data-target="#bigger">
            <span class="pull-left">Maior</span>
            <span class="pull-right" id="iconB">
              <i class="fa fa-arrow-circle-down"></i>
            </span>
            <div class="clearfix"></div>
          </a>
          <div id="bigger" class="collapse"><small><%= @big_title[0] %></small></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-angle-down fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @small %></div>
              <div>Páginas</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a  data-toggle="collapse" data-target="#smaller">
            <span class="pull-left">Menor</span>
            <span class="pull-right" id="iconS">
              <i class="fa fa-arrow-circle-down"></i>
            </span>
            <div class="clearfix"></div>
          </a>
          <div id="smaller" class="collapse"><small><%= @small_title[0] %></small></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
   <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
      </div>
      <div class="panel-body">
        <div id="morris-donut-chart"></div>
        <div class="well well-sm">
          <h4><%= "Total: #{current_user.books_count} livros" %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-list fa-fw"></i> Listas
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <% @list.each do |l| %>
          <div class="list-group-item">
            <i class="fa fa-angle-double-right fa-xs"></i><%= " #{l[0]}" %>
            <span class="pull-right text-muted small"><em><%= l[1] %></em>
            </span>
          </div>
          <% end %>
        </div>
        <!-- /.list-group -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>

</div>

</div>

