<div class="row">
  <h1 class="page-header">Estatísticas</h1>
</div>
<div class="row">
  <div class="row">
    <%= render partial: 'statistics/panel_old'  %>
    <%= render partial: 'statistics/panel_new'  %>
    <%= render partial: 'statistics/panel_big'  %>
    <%= render partial: 'statistics/panel_small'  %>
  </div>

  <div class="row" style="width: 99%;">
    <%= render partial: 'statistics/chart'  %>
    <%= render partial: 'statistics/list'  %>
  </div>
</div>

