<nav class="navbar navbar-light fixed-top" id="mainNav">
  <ul class="navbar-nav ml-auto" style="display: inline-block;">
    <li class="nav-item">
      <%= link_to "Home", root_path, class:"nav-link" %>
    </li>
    <% unless user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Cadastro", new_user_registration_path, class:"nav-link" %>
      </li>
    <% else %>
      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
          <%= current_user.email %>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to fa_icon('th', text: t('.dashboard')),
                        user_dashboard_path,
                        class:"nav-link" %>
          </li>
          <li>
            <%= link_to fa_icon('user', text: t('.profile')),
                        edit_user_registration_path,
                        class:"nav-link" %>
          </li>
          <li class="divider"></li>
          <li><%= link_to fa_icon('sign_out', text: t('.sign_out')),
                          destroy_user_session_path,
                          method: :delete, class:"nav-link" %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
