<nav class="navbar navbar-expand-lg navbar-light bg-light" id="secondBar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book fa-fw"></i> Estantes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to fa_icon('bookmark', text: t('.all')),
                      user_books_path,
                      class:"dropdown-item nav-link",
                      style:"color: #8e44ad;" %>
          <%= link_to fa_icon('bookmark', text: t('.read')),
                      user_books_path(status: 1),
                      class:"dropdown-item nav-link",
                      style:"color: #2ecc71;" %>
          <%= link_to fa_icon('bookmark', text: t('.reading')),
                      user_books_path(status: 2),
                      class:"dropdown-item nav-link",
                      style:"color: #3498db;" %>
          <%= link_to fa_icon('bookmark', text: t('.to_read')),
                      user_books_path(status: 3),
                      class:"dropdown-item nav-link",
                      style:"color: #e74c3c;" %>
          <div class="divider"></div>
          <%= link_to fa_icon('book', text: t('.own')),
                      user_books_path(shelf: 1),
                      class:"dropdown-item nav-link" %>
          <%= link_to fa_icon('gift', text: t('.want')),
                      user_books_path(shelf: 3),
                      class:"dropdown-item nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon('users', text: Author.model_name.human(count: 2)),
                    user_authors_path,
                    class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon('edit', text: Editor.model_name.human(count: 2)),
                    user_editors_path,
                    class:"nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list fa-fw"></i> <%= List.model_name.human(count: 2) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to fa_icon('plus', text: t('.new_list')),
                      new_user_list_path,
                      class:"dropdown-item nav-link" %>
          <div class="divider"></div>
          <% lista.each do |l| %>
            <%= link_to l.year,
                        user_list_path(l),
                        class:"dropdown-item nav-link" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon('th', text: t('.statistics')),
                    user_dashboard_path,
                    class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon('plus', text: t('.new_book')),
                    new_user_book_path,
                    class:"nav-link" %>
      </li>
    </ul>
    <%= form_tag user_books_path, method: :get, class:"search-form" do %>
      <div class="input-group custom-search-form">
       <%= text_field_tag(:query, params[:query], {class: "form-control",  placeholder: "Buscar livro"}) %>
        <span class="input-group-btn">
          <%= button_tag(type: "submit", class: "btn btn-default", style:"padding: 6px;") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</nav>
