 <div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> <%= t('.by_shelf') %>
    </div>
    <div class="panel-body">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 style="margin-top: 0">Todos os livros</h3>
            <hr style="margin: 0">
            <div id="morris-donut-chart"></div>
          </div>
          <div class="carousel-item">
            <h3 style="margin-top: 0">Meus livros</h3>
            <hr style="margin-top: 0; margin-bottom: 30px">
            <h4>Fila de leitura</h4>
            <%= progress_bar books_percent(count_books(3), count_books),
                             alternative: 'danger',
                             class:'progress_bar' %>
            <span class="list_count text-muted small">
              <%= t('.qtt_books', qtt: count_books(3)) %>
            </span>
            <h4>Lendo
              <small>
                <%= t('.qtt_books', qtt: "#{count_books(2)}/#{count_books(2)+ count_books(3)}") %>
              </small>
            </h4>
            <div class="progress progress_bar">
                <%= simple_progress_bar books_percent(count_books(2), count_books(2)+ count_books(3)),
                                        active: true %>
                <%= simple_progress_bar 1,
                                        alternative: 'info',
                                        style: '; opacity: .5' %>
            </div>
            <h4>Lidos</h4>
            <%= progress_bar books_percent(count_books(1), count_books),
                             alternative: 'success',
                             class:'progress_bar' %>
            <span class="list_count text-muted small">
              <%= t('.qtt_books', qtt: count_books(1)) %>
            </span>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="panel-footer">
      <h4>
        Total: <%= "#{t('.qtt_books', qtt: current_user.books_count)}" %>
        <br>
        <br>
        <%= "#{t('.qtt_books', qtt: count_books)}" %> na estante
      </h4>
    </div>
  </div>
</div>
