<div class="col-md-6">
  <div class="panel panel-default" id="list_div">
    <div class="panel-heading">
      <i class="fa fa-list fa-fw"></i><%= t('.by_list') %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="bookTab" href="#books" data-toggle="tab"><%= Book.model_name.human(count: 2) %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pagesTab" href="#pages" data-toggle="tab"><%= t('.pages') %></a>
        </li>
      </ul>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="books">
          <div class="list_div_body">
            <% @list.each do |list| %>
              <div class="list-group-item nav">
                <i class="fa fa-angle-double-right fa-xs"></i><%= " #{list.year}" %>
                <%= progress_bar books_percent(list.books.count, current_user.books.where(status: 1).count),
                                 alternative: 'warning',
                                 class:'progress_bar' %>
                <span class="list_count text-muted small">
                  <%= t('.qtt_books', qtt: list.books.count) %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="pages">
          <div class="list_div_body">
            <% @list.each do |list| %>
              <div class="list-group-item nav">
                <i class="fa fa-angle-double-right fa-xs"></i><%= " #{list.year}" %>
                <%= progress_bar pages_percent(list.books.sum(:pages)),
                                 alternative: 'warning',
                                 class:'progress_bar' %>
                <span class="list_count text-muted small">
                  <%= t('.qtt_pg', qtt: list.books.sum(:pages)) %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
