<div class="col-lg-3 col-md-6">
    <%= content_tag :div, panel_class("panel", color) do %>
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-angle-up fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">
            <% if current_user.books.empty? || @max_min[value].nil? %>
              0
            <% else %>
              <%= @max_min[value].last %>
            <% end %>
          </div>
          <div><%= t('labels.pages') %></div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="#" data-toggle="collapse" data-target="#bigger">
        <span class="pull-left"><%= t('labels.big') %></span>
        <span class="pull-right" id="iconB">
          <i class="fa fa-arrow-circle-down"></i>
        </span>
        <div class="clearfix"></div>
      </a>
      <div id="bigger" class="collapse"><small><%= @max_min[value][0] %></small></div>
    </div>
  <% end %>
</div>
