<div class="panel panel-default">
  <div class="panel-heading">
    Form
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="col-lg-6">
      <%= form_for([:admin_panel, @admin]) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control" %>
      </div>

      <button type="submit" class="btn btn-info">Salvar</button>
      <% end %>
    </div>
  </div>
  <!-- /.panel-body -->
</div>

