<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

</head>

<body>

 <%= render partial: 'layouts/home_shared/navigation' %>

  <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
   <div class="overlay"></div>
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <div class="site-heading">
           <h1>Ex Libris</h1>
           <hr class="small">
           <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
         </div>
       </div>
     </div>
   </div>
 </header>

 <% if user_signed_in? %>
   <%= render partial: 'layouts/home_shared/sidebar' %>
   <div id="page-wrapper">
     <div class="container-fluid">
       <div class="row">
         <div class="col-lg-12" id="home">
           <%= yield %>
         </div>
       </div>
     </div>
   </div>
<% else %>
  <div class="container-fluid">
    <div class="row" style="text-align: center;">
        <%= yield %>
    </div>
  </div>
<% end %>

<hr>

<%= render partial: 'layouts/home_shared/footer' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
</body>

</html>
